.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.css-1xc3v61-indicatorContainer {
    margin-top: -4px;
    /* background-color: red; */
    padding: 4px !important;
}
.css-15lsz6c-indicatorContainer {
    margin-top: -4px;

    /* background-color: red; */
    padding: 4px !important;
}
.select-margin .css-1jheo7b-Input {
    margin: 0 !important;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,700&display=swap');
body {
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Poppins', sans-serif;
    /* font-family: '-apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;'; */
    /* filter: invert(); */
    /* font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
    /* font-serif	font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    font-mono	font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
     */
}
#root {
    background-image: url('../public/telemartLogo.png');
    background-repeat: no-repeat;
    /* z-index: 400 !important; */
    /* background-color: rebeccapurple; */
    background-position: 50% 50% !important;
}
.bg-invert {
    filter: invert();
}
.bg-transparent-body {
    filter: opacity(0.9);
}
.MuiBreadcrumbs-li {
    color: rgb(0, 0, 0);
    font-weight: 500;
}

.MuiBreadcrumbs-li:first-child {
    color: #2263b3;
    font-weight: 600;
    text-decoration: underline;
}

/* scroll tabs css */
.rts___btn {
    border: none !important;
}

.rts___nav___btn:hover {
    background-color: white !important;
    color: rgb(6, 6, 255);
    padding: 6px 6px !important;
}
/* .rts___nav___btn___container { */
/* margin: 20px 5px;
    font-size: 20px;
    display: block !important; */
/* } */
.rts___tabs___container {
    padding: 0px !important;
}
.rts___tab {
    padding: 6px 6px !important;
    border-radius: 4px !important;
}
.rts___tabs {
    padding: 0px !important;
    border-radius: 4px !important;
}
.rts___nav___btn___container {
    margin: 5px 5px !important;
    font-size: 10px !important;
    display: block !important;
}
.rts___tab___selected {
    background-color: #03314e !important;
}
/* scroll tabs css */
.table-right th {
    border-right: 1px solid black;
}
.table-right td {
    border-right: 1px solid black;
}

/***** When user hover on the Menu bell icon then task panel opend with transition *****/

.child-menu {
    position: absolute;
    top: 80px;
    right: 200px;
    transition: all 150ms ease-out;
    transition-delay: 100ms;
    visibility: hidden;
    /* visibility: visible; */

    background: linear-gradient(
        to left,
        rgba(25, 27, 60, 0) -297%,
        rgba(0, 0, 0, 1) 181%
    );
    opacity: 1;
    z-index: 10;
}

.menu-parent:hover > .child-menu {
    opacity: 1;
    visibility: visible;
}
